.movies-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 360px;
}

.movies-card__error {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.movies-card__error > div {
  margin: 0;
}

.movies-card__image img {
  width: 100%;
  height: 201px;
  border-radius: 6px;
  background-color: gray;
}

.movies-card:hover .movies-card__button {
  opacity: 1;
}

.movies-card__button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--black);
  font-size: 10px;
  line-height: 9px;
  height: 21px;
  cursor: pointer;
  background-color: var(--white);
  z-index: 20;
  opacity: 0;
  transition: all 0.3s;
}

.movies-card__button--save {
  padding: 0px 9px;
}
.movies-card__button--remove,
.movies-card__button--saved {
  padding: 0px 6px;
  width: 21px;
}
.movies-card__button--saved {
  background-color: #ff4062;
}
.movies-card__info {
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.movies-card__title {
  max-width: 250px;
  height: 48px;
  overflow: hidden;
  font-size: 13px;
  color: var(--black);
  font-weight: 500;
}

.movies-card__duration {
  padding: 3px 6px;
  border-radius: 3px;
  background-color: var(--bg-color-gray);
  color: var(--text-gray);
  font-size: 11px;
  line-height: 10px;
}

@media (max-width: 992px) {
  .movies-card {
    gap: 20px;
    max-width: 339px;
  }

  .movies-card__image img {
    height: 190px;
  }

  .movies-card__info {
    padding: 0;
  }

  .movies-card__title {
    height: 37px;
  }

  .movies-card__duration {
    padding: 3px 9px;
  }

  .movies-card__button {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .movies-card {
    gap: 10px;
    max-width: 300px;
  }

  .movies-card__image img {
    height: 168px;
  }

  .movies-card__info {
    padding: 0;
  }

  .movies-card__title {
    font-size: 12px;
  }
}
