.section-title {
	position: relative;
	font-size: 22px;
	color: var(--black);
	letter-spacing: -0.04em;
	padding-bottom: 21px;
	text-align: left;
}

.section-title::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	height: 1px;
	width: 100%;
	background-color: var(--black);
}

@media (max-width: 480px) {
	.section-title {
		font-size: 18px;
		padding-bottom: 28px;
	}
}
