.profile {
  height: calc(100dvh - 78px);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 54px 0;
}

.profile__welcome {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__data {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-bottom: 114px;
}

.profile__data-item {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__data-item:not(:last-child) {
  border-bottom: 1px solid var(--border-gray);
}

.profile__data-item-label,
.profile__data-item-info {
  font-size: 11px;
}

.profile__data-item-label {
  font-size: 11px;
  font-weight: 500;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.profile__edit-button {
  font-size: 13px;
  line-height: normal;
}

.profile__logout-button {
  font-size: 13px;
  font-weight: 500;
  color: #ff4062;
}

@media (max-width: 768px) {
  .profile {
    padding: 215px 0 270px;
  }

  .profile__data {
    margin-bottom: 130px;
  }
}

@media (max-width: 320px) {
  .profile {
    padding: 50px 0 42px;
  }
  .profile__data {
    width: 260px;
    margin-bottom: 314px;
  }

  .profile__edit-button,
  .profile__logout-button {
    font-size: 12px;
  }
}
