.not-found {
  position: relative;
}

.not-found__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100dvh;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}

.not-found__title {
  font-size: 140px;
}

.not-found__subtitle {
  font-size: 16px;
}

.not-found__home-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18.6%;
  color: var(--black);

  transition: var(--color);
}

.not-found__home-button:hover {
  color: var(--hover-black);
}

@media (max-width: 768px) {
  .not-found__home-button {
    bottom: 20.8%;
  }
}

@media (max-width: 480px) {
  .not-found__info {
    gap: 10px;
    min-height: 400px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__subtitle,
  .not-found__home-button {
    font-size: 12px;
  }

  .not-found__home-button {
    bottom: 30px;
  }
}
