:root {
  --white: #ffffff;
  --hover-white: rgba(255, 255, 255, 0.8);
  --black: #000000;
  --hover-black: rgba(0, 0, 0, 0.7);
  --light-gray: #f2f2f2;
  --text-gray: #a0a0a0;
  --border-gray: #e8e8e8;
  --bg-color-gray: #f9f9f9;
  --bg-color-promo: #f3c1f8;
  --main-font: 'Inter', 'Arial', sans-serif;
  --color: color 0.3s;
}
